In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
f = open("babies.-1ibz3w3-2h9hx4o.txt")

header = 0
lines = []

for l in f:
    if header == 0:
        header = l.split(" ")
        lines.append([x.strip('\n') for x in header])
    else:
        ln = []
        for d in l.split(" "):
            if( d == '' or d == "\n"):
                continue
            ln.append(int(d.strip('\n')))
        lines.append(ln)
f.close()

nf = open("babies.txt", "w")

for vector in lines:
    strl = ""
    for elem in vector:
        strl = strl + str(elem) + ","
    strl = strl[:-1] + "\n"
    nf.write(strl)

nf.close()

In [3]:
data = pd.read_csv("babies.txt")

#note 2 outliers exist
data = data[data["age"] < 90]
#note 13 outliers exist
data = data[data["gestation"] < 500]

data.sort_values(['bwt'])

data_s = data[data["smoke"] == 1]
data_ns = data[data["smoke"] == 0]

In [55]:
data.plot(x="age", y="bwt", kind="scatter")
plt.show()

In [56]:
data.plot(y="bwt", x="gestation", kind="scatter")
plt.show()

In [59]:
data.plot(x="age", y="gestation", kind="scatter")
plt.show()

In [5]:
data_s.plot(y="bwt", x="gestation", kind="scatter")
data_ns.plot(y="bwt", x="gestation", kind="scatter")

plt.show()

In [6]:
data_s.describe()

,bwt,gestation,parity,age,height,weight,smoke
count,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.0
mean,114.081420,277.991649,0.252610,26.749478,64.966597,159.672234,1.0
std,18.179821,15.086915,0.434963,5.653883,6.045411,167.173847,0.0
min,58.000000,223.000000,0.000000,15.000000,53.000000,87.000000,1.0
25%,101.500000,271.000000,0.000000,22.000000,63.000000,112.000000,1.0
50%,115.000000,279.000000,0.000000,26.000000,64.000000,125.000000,1.0
75%,126.000000,286.000000,1.000000,30.000000,66.000000,140.000000,1.0
max,163.000000,330.000000,1.000000,43.000000,99.000000,999.000000,1.0

In [7]:
data_ns.describe()

,bwt,gestation,parity,age,height,weight,smoke
count,732.000000,732.000000,732.000000,732.000000,732.000000,732.000000,732.0
mean,123.154372,280.178962,0.260929,27.536885,64.390710,148.493169,0.0
std,17.353473,16.637585,0.439442,5.836346,4.391301,128.932548,0.0
min,55.000000,148.000000,0.000000,17.000000,56.000000,89.000000,0.0
25%,113.000000,273.000000,0.000000,23.000000,62.000000,115.000000,0.0
50%,123.500000,281.000000,0.000000,26.500000,64.000000,127.000000,0.0
75%,134.000000,289.000000,1.000000,31.000000,66.000000,140.000000,0.0
max,176.000000,353.000000,1.000000,45.000000,99.000000,999.000000,0.0